<div>
	<img src="common-ui/helpers/images/logo-james.png" class="img-responsive"/>
	<nav class="navbar navbar-default navbar-inverse"> 
	  <div class="container-fluid">
		<div>
		  <ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			<li class="dropdown">
			  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
			  <span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li><a href="#">Option 1</a></li>
				<li><a href="#">Option 2</a></li>
				<li><a href="#">Option 3</a></li> 
			  </ul>
			</li>
			<li><a href="#">Page 2</a></li> 
			<li><a href="#">Page 3</a></li> 
		  </ul>
		  <ul ng-hide="vm.loggedIn" class="nav navbar-nav navbar-right">
			<li><a href="#"><span class="glyphicon glyphicon-user"></span> Register</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		  </ul>
		  <ul ng-show="vm.loggedIn" class="nav navbar-nav navbar-right">
			<li><a href="#" ng-click="func.logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		  </ul>
		</div>
	  </div>
	</nav>
	
	<h1>{{ vm.headerMessage }}</h1>
	<div class="fdm-user" ng-show="vm.loggedIn">
		<p>TODO - User Specific content</p>
	</div>
	
	<div class="fdm-login" ng-hide="vm.loggedIn">
		<div ng-hide="vm.forgotPassword">
			<p>You can login below...</p>
			<form role="form">
				<div class="form-group">
				  <label for="email">Email:</label>
				  <input type="email" class="form-control fdm-form-half" id="email" placeholder="Enter email" ng-model="vm.attempted.email"/>
				</div>
				<div class="form-group">
				  <label for="pwd">Password:</label>
				  <input type="password" class="form-control fdm-form-half" id="pwd" placeholder="Enter password" ng-model="vm.attempted.password"/> 
				  <a href="#" ng-click="func.setForgotPassword()">Forgot Password</a>
				</div>
				<button type="submit" class="btn btn-default" ng-click="func.login()">Login</button>
			</form>
			<p>{{ vm.loginFeedback }}</p>
			<div class="bg-danger" ng-show="vm.loginFeedback">
				<p>Incorrect number of logins made: {{ vm.incorrectLoginAttempts }}</p>
				<p>(If you fail to login to the System 3 times, you will have to <a>Contact System Admin</a>).</p>
			</div>
		</div>
		<div ng-show="vm.forgotPassword">
			<form role="form">
				<div class="form-group">
					<label for="email">Please Type in your email address to reset your password.</label>
					<input type="email" class="form-control fdm-form-half" placeholder="Enter email" ng-model="vm.attempted.email"/>
					<button type="submit" class="btn btn-default" ng-click="func.openReset()">Reset</button>
				</div>
				<div ng-show="vm.securityQuestions" class="form-group security-questions">
					<p>Please Select a Security Question to answer:</p>
					<select ng-model="vm.attempted.myQuestion">
						<option ng-repeat="q in vm.securityQuestions"  ng-value="q.question">{{ q.question }}</option>
					</select>
					<input ng-model="vm.attempted.myAnswer" type="text" class="form-control fdm-form-half" placeholder="Enter Answer to question here..."/>
					<button type="submit" class="btn btn-default" ng-click="func.answerSecurityQuestion()">Answer</button>
					<div ng-show="vm.correctAnswer">
						<input ng-model="vm.attempted.newPassword" type="password" class="form-control fdm-form-half" placeholder="Enter new password here..."/>
						<button type="submit" class="btn btn-default" ng-click="func.changePassword()">Change Password</button>
					</div>
				</div>
			</form>
			<p>{{ vm.loginFeedback }}</p>
		</div>
	</div> 
	
	<!--<div>
		{{ vm }}
	</div>-->
	
</div>